<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About</title>
  <link rel="stylesheet" href="../static/css/style3.css">
<link rel="icon" href="../static/img/favicon.ico">
</head>
<body>
<div class="contact" id="contact">
        <div class="contact__content">
          <a href="#" class="contact__close">&times;</a>
          <div class="container">
                <div class="card">
                    <div class="img-box">
                        <img src="../static/img/vasant.jpg">
                    </div>
                
                    <div class="content">
                        <h2> Vasant Vohra <br><span> Machine Learning Engineer</span></h2>
                            <p>SRM University Haryana<br><br> Btech Comp Science and Engineering!</p>
                       
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    </div>
               
                <div class="card">
                        <div class="img-box">
                                <img src="../static/img/sid.jpg">
                            </div>
                        
                            <div class="content">
                                <h2> Siddharth Arora <br><span>Engineer</span></h2>
                                    <p>SRM University Haryana<br>Reg No. 10315210173 <br> Btech Comp Science and Engineering!</p>
                               
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            </div>
                
                <div class="card">   
                <div class="img-box">
                        <img src="../static/img/nik.jpg">
                    </div>
                
                    <div class="content">
                        <h2> Nikhil Verma<br><span> Web Developer</span></h2>
                            <p>SRM University Haryana<br>Reg No. 10315210103 <br> Btech Comp Science and Engineering!</p>
                       
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    </div>
            </div>
        </div>
     </div>
      


  <div class="pimg1">
	<!-- Navigation -->
    <nav class="main-nav">
      <ul>
        <li>
          <a href="{{url_for('index')}}">Home</a>
        </li>
        <li>
          <a href="{{url_for('about')}}">About</a>
        </li>
        <li>
          <a href="{{url_for('services')}}">Services</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="ptext">
      <pre>We are a group of Computer Science and Engineering
students, with a dream of solving problems faced by
the healthcare industry in our country.We believe
that in order to bring a change in the society,
we do not have to be some god gifted genius or a
great researcher, all we need is the will and 
determination to do so. 
To bring in light a few examples,
The evolution of Social Media, Facebook by Mark Zukerburg!
Evolution of Smart Phones, Apple by Steve Jobs!
Evolution of Automobiles, Tesla by Elon Musk!
</pre>
    </div>
  </div>

  <section class="section section-dark">
  </section>

  <div class="pimg2">
    <div class="ptext">
     
 <span class="border trans">
	<br>
	This is a simple web interface for a Healthcare Management System.<br>
	Improving Healthcare services is a major concern worldwide i.e reducing <br>
	the costs of checkups and treatments!<br>
	We have picked up state of the art artificial intelligence algorithms and <br>
	implemented a few services which can be used for consultancy by doctors. <br>
	The target audience for these services are Patients and Doctors.
      </span>

    </div>
  </div>

  <section class="section section-dark">
  </section>

 </body>
</html>
