<!DOCTYPE html>
<html lang="en" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<head>
  <meta charset="UTF-8">
  <title>Medi-Signs! AI ChatBot!</title>
  
  
  
      <link rel="stylesheet" href="../static/css/style.css">

  
</head>

<body>
  <div class="wrapper">
        <!-- Top Container -->
    <section class="top-container">
      <header class="showcase">
        <h1>Medi-Signs!</h1>
        <p>AI HealthCare ChatBot!</p>
	<p>Hey, Just say Hi to the Assistant to get started!</p>
	<P> Type help to understand more!</p>
	


    

      </header>
      <div class="top-box top-box-a">
       <iframe src="https://healthbotsrm.azurewebsites.net" height="100%" width="100%"></iframe>
      </div>
     </section>

   
    <!-- Footer -->
    <footer>
      <p>Medi-Signs &copy; 2019</p>
    </footer>

  </div>
  <!-- Wrapper Ends -->
  <!script src='https://use.fontawesome.com/releases/v5.0.6/js/all.js'>
	  <script>
          function openNav() {
            document.getElementById("myNav").style.width = "100%";
          }
          
          function closeNav() {
            document.getElementById("myNav").style.width = "0";
          }
          function openNav1() {
            document.getElementById("myNav1").style.width = "100%";
          }
          
          function closeNav1() {
            document.getElementById("myNav1").style.width = "0";
          }
</script> <!/script>

  

</body>

</html>
