<!DOCTYPE html>
<html lang="en" >

<head>
<link rel="icon" href="../static/img/favicon.ico">
  <meta charset="UTF-8">
  <title>Medi-Signs! AI ChatBot!</title>
  
  
  
      <link rel="stylesheet" href="../static/css/style1.css">

  
</head>

<body>

<div class="contact" id="contact">
        <div class="modal__content">
          <a href="#" class="modal__close" style="color:black;>&times;</a>
          <div class="container">
                <div class="card">
                    <div class="img-box">
                        <img src="../static/img/vasant.jpg">
                    </div>
                
                    <div class="content">
                        <h2> Vasant Vohra <br><span> Machine Learning Engineer</span></h2>
                            <p>SRM University Haryana<br><br> Btech Comp Science and Engineering!</p>
                       
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    </div>
               
                <div class="card">
                        <div class="img-box">
                                <img src="../static/img/sid.jpg">
                            </div>
                        
                            <div class="content">
                                <h2> Siddharth Arora <br><span>Engineer</span></h2>
                                    <p>SRM University Haryana<br>Reg No. 10315210173 <br> Btech Comp Science and Engineering!</p>
                               
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            </div>
                
                <div class="card">   
                <div class="img-box">
                        <img src="../static/img/nik.jpg">
                    </div>
                
                    <div class="content">
                        <h2> Nikhil Verma<br><span> Web Developer</span></h2>
                            <p>SRM University Haryana<br>Reg No. 10315210103 <br> Btech Comp Science and Engineering!</p>
                       
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    </div>
            </div>
        </div>
     </div>
      

  <div class="wrapper">
    <!-- Navigation -->
    <nav class="main-nav">
      <ul>
        <li>
          <a href="{{url_for('index')}}">Home</a>
        </li>
        <li>
          <a href="{{url_for('about')}}">About</a>
        </li>
        <li>
          <a href="{{url_for('services')}}">Services</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>


  
        <!-- Top Container -->
    <section class="top-container">
      <header class="showcase">
     </header>
      <div class="top-box top-box-a">
       <iframe src="https://doctorvv.azurewebsites.net" height="100%" width="100%"></iframe>
      </div>
     </section>

   
    <!-- Footer -->
    <footer>
      <p>Medi-Signs &copy; 2019</p>
    </footer>

  </div>
  <!-- Wrapper Ends -->
  <script src='https://use.fontawesome.com/releases/v5.0.6/js/all.js'></script>

  

</body>

</html>
