<!DOCTYPE html>
<html lang="en" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<head>
<link rel="icon" href="../static/img/favicon.ico">
  <meta charset="UTF-8">
  <title>MEDI-SIGNS! HealthCare At Your FingerTips!</title>
  
  
  
      <link rel="stylesheet" href="../static/css/style.css">

  
</head>

<body>
    <div class="modal" id="contact">
        <div class="modal__content">
          <a href="#" class="modal__close" style="color:black;">&times;</a>
          <div class="container">
                <div class="card">
                    <div class="img-box">
                        <img src="../static/img/vasant.jpg">
                    </div>
                
                    <div class="content">
                        <h2> Vasant Vohra <br><span> Machine Learning Engineer</span></h2>
                            <p>SRM University Haryana<br><br> Btech Comp Science and Engineering!</p>
                       
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    </div>
               
                <div class="card">
                        <div class="img-box">
                                <img src="../static/img/sid.jpg">
                            </div>
                        
                            <div class="content">
                                <h2> Siddharth Arora <br><span>Engineer</span></h2>
                                    <p>SRM University Haryana<br>Reg No. 10315210173 <br> Btech Comp Science and Engineering!</p>
                               
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            </div>
                
                <div class="card">   
                <div class="img-box">
                        <img src="../static/img/nik.jpg">
                    </div>
                
                    <div class="content">
                        <h2> Nikhil Verma<br><span> Web Developer</span></h2>
                            <p>SRM University Haryana<br>Reg No. 10315210103 <br> Btech Comp Science and Engineering!</p>
                       
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    </div>
            </div>
        </div>
     </div>
      

  <div class="wrapper">
    <!-- Navigation -->
    <nav class="main-nav">
      <ul>
        <li>
          <a href="{{url_for('about')}}">About</a>
        </li>
        <li>
          <a href="{{url_for('vision')}}">Vision</a>
        </li>
        <li>
          <a href="{{url_for('services')}}">Services</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>

    <!-- Top Container -->
    <section class="top-container">
      <header class="showcase">
                 
      </header>
    </section>
          

      <!-- Use any element to open/show the overlay navigation menu -->
    <!-- Boxes Section -->
    <section class="boxes">
        <div class="box">
         <a href="{{url_for('bot')}}">   <i class="fas fa-user-nurse fa-4x"></i></a>
       <h3>Talk to MediSign!!</h3> 
        <p>Your Personal Healthcare Assistant!</p>
      </div>
      <div class="box">
	  <a href="https://www.practo.com/prime-doctors?utm_source=google&utm_medium=cpc&utm_campaign=brand-search-practo-phrase&gclid=Cj0KCQjw4qvlBRDiARIsAHme6ouJhI_mzF1g6KAhCgWSRcdHOVSwjA5EdOfjexupsMSX_bw_TNCroKIaAt1aEALw_wcB">
          <i class="far fa-hospital fa-4x"></i></a>
        <h3>Schedule an Appointment!</h3>
        <p>Schedule an Appointment with a nearby Local Doctor!?</p>
      </div>
      <div class="box">
        <a href="{{url_for('life')}}">
        <i class="fas fa-ambulance fa-4x"></i></a>
       
        <h3>Predict Future Health Problems!</h3>
        <p>Based on your LifeStyle, predict future Health Problems!</p>
      </div>
<div class="box">
        <a href="https://xrayclassify.herokuapp.com/">
        <i class="fas fa-x-ray fa-4x"></i></a>
        <h3>Pneumonia Detection!</h3>
        <p>Predict Pneumonia using Chest X-ray!</p>
      </div>
      <div class="box">
          <i class="fas fa-phone-volume fa-4x"></i>
        <h3>Support</h3>
        <p><a href="tel:911">Call us @911</p></a>
      </div>
    

	
</section>
    


    <!-- Footer -->
    <footer>
      <p>MEDI-SIGN &copy; 2019</p>
    </footer>

  </div>
  <!-- Wrapper Ends -->
  
<script>
          function openNav() {
            document.getElementById("myNav").style.width = "100%";
          }
          
          function closeNav() {
            document.getElementById("myNav").style.width = "0";
          }
          function openNav1() {
            document.getElementById("myNav1").style.width = "100%";
          }
          
          function closeNav1() {
            document.getElementById("myNav1").style.width = "0";
          }

</script>  

</body>

</html>